<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/" method="get">
        <label for="name">Nombre y Apellido</label>
        <input type="text" name="name" id="name"/>

        <label for="correo">Correo</label>
        <input type="email" name="name" id="correo"/>

        <label for="avatar">Foto de perfil</label>
        <input type="text" name="name" id="avatar"/>
    </form>

    <form action="" method="get"></form>
</body>
</html>
