*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article_image_truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.descriptions{
    font-size: 16px;
    padding: 10px 0;
}

.body_header{
    font-weight: 900;
    background-color: #EAC926;
    padding: 25px;
}
.body_header_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.navbar{
    display: none;
    padding: 16px 0;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
}
.search{
    display: flex;
    margin: 8px 24px;
    /*width: 50%;*/
}
.search input {
    width: 150px;
}

.image_header{
    display: flex;
    flex-direction: column;
}
.imagen_logo{
    display: flex;
    height: 80px;
    width: 50%;
}

.burger-menu{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0 ;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.buy_installments{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    text-align: right;
    max-width: 175px;
    align-self: flex-end;
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    background-color: #eaeaea;
}
main section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.headlines{
    margin: 20px;
    font-weight: 900;
}
.price-discount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    color: green;
    font-size: 16px;
    text-align: end;
    width: 70%;
}
article{
    display: flex;
    background-color: white;
}
.article_product_img{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.article_product_detail{
    border-top: solid #dcd9d9;
    position: relative;
    padding: 6%;
}
.article_image_truck{
    color: #29af29;
}
.article_product{
    box-shadow: 0 0 5px 2px #9d9898;
}
/*Footer*/
footer{
    text-align: center;
}

footer div{
    font-weight: 900;
    margin: 60px;
}

footer div h2{
    font-weight: 900;
}

footer div i{
    color: #0052bb;
}
@media (min-width: 768px) {
    .buy_installments{
        padding: 0;
        max-width: 350px;
    }

    .burger-menu{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
    }

    .navbar li{
        margin: 0 5px;
    }

    .search input {
        width: 100px;
    }
}

@media (min-width: 247px) {
    .article_product_img{
        width:100%
    }
    .imagen_logo{
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .imagen_logo{
        width: 235px;
    }
    .body_header_container {
        justify-content: space-between;
    }

    .body_header_container, .navbar {
        max-width: 1200px;
        margin: auto;
    }

    .section-footer, main {
        margin: auto;
    }

    .buy_installments {
        max-width: none;
        font-size: 20px;
        font-weight: 400;
        justify-content: space-between;
    }
    .navbar li{
        margin: 0 10px;
    }
    .navbar a{
        font-size: 18px;
    }

    .section-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}
