* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.descriptions{
    font-size: 16px;
}

.body_header{
    background-color: #EAC926;
    padding: 25px;
}
.body_header_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.navbar{
    display: none;
    padding: 16px 0;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
}
.search{
    display: flex;
    margin: 8px 24px;
}
.search input {
    width: 180px;
}
.imagen_logo{
    display: flex;
    /*justify-content: flex-start;*/
    height: 80px;
    width: 160px;
    /*margin-top: 20px;*/
}

.burger-menu{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0 ;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.buy_installments{
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: space-around;
    margin: 20px 0;
    text-align: right;
    /*align-items: center;*/
    max-width: 175px;
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    background-color: #dcd9d9;
}
main section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.price-discount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    color: green;
    font-size: 16px;
    width: 70%;
}

article{
    background-color: white;
}
.article_product{
    padding: 6%;
}
.article_image_truck{
    color: #29af29;
}

.article_product_img{
    width:100%
}

/*Footer*/
footer{
    text-align: center;
}

footer div{
    font-weight: 900;
    margin: 60px;
}

footer div h2{
    font-weight: 900;
}

footer div i{
    color: #0052bb;
}
@media (min-width: 768px) {
    .buy_installments{
        padding: 0;
        max-width: 350px;
    }

    .burger-menu{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
    }

    .navbar li{
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    .imagen_logo{
        width: 235px;
    }
    .body_header_container {
        justify-content: space-between;
    }

    .body_header_container, .navbar {
        max-width: 1200px;
        margin: auto;
    }

    .section-footer, main {
        max-width: 1700px;
        margin: auto;
    }

    .buy_installments {
        max-width: none;
        font-size: 20px;
        font-weight: 400;
        justify-content: space-between;
    }
    .navbar li{
        margin: 0 10px;
    }
    .navbar a{
        font-size: 18px;
    }

    .section-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}
